[MESSAGES CONTROL]
# Show all warnings
confidence=

# Disable convention & refactor
disable=C,R,W0613

[BASIC]
const-name-hint=(([A-Z_][A-Z0-9_]*)|(__.*__))$

[FORMAT]
max-line-length=80
expected-line-ending-format=LF
